.footer {
    text-align: center;
    padding: 15px;
    background-color: #f8f9fa;
    color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .dark-mode .footer {
    background-color: #222;
    color: white;
  }
  